script(src='/javascripts/jquery-2.1.3.min.js')
script(src='/javascripts/app.js')


.navigation.col-xs-12.navbar-fixed-top(style="background-color:#ffffff")
  .container
    h1.tamplr-logo.pull-left(style="margin:7px; font-size: 40px") tamplr
    ul.nav.nav-pills.pull-right
      li.dropdown.visible-xs(role="presentation")
        a.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-expanded="false")
          h1.tamplr-logo2 MENU <span class="caret"></span>
        ul.dropdown-menu(role="menu")
          li 
            a(href="/") Front Page
          li 
            a(href="/") Settings
          li 
            a(href="/") Blogs
          li.logout(role="button") Logout
      li.active.visible-sm.visible-md.visible-lg(role="presentation")
        a(href="/")
          h1.tamplr-logo2 Front Page
      li.dropdown.visible-sm.visible-md(role="presentation")
        a.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-expanded="false")
          h1.tamplr-logo2 MENU <span class="caret"></span>
        ul.dropdown-menu(role="menu")
          li 
            a(href="/") Settings
          li 
            a(href="/") Blogs
          li
            a.logout(href="/" role="button") Logout
      li.visible-lg(role="presentation")
        a(href="/")
          h1.tamplr-logo2 Settings
      li.visible-lg(role="presentation")
        a(href="/")
          h1.tamplr-logo2 Blogs
      li.visible-lg(role="presentation")
        a.logout(href="/" role="button")
          h1.tamplr-logo2 Logout
  