doctype html
html(lang="en")
  include head.jade
  body
    include nav.jade
    script(src='/javascripts/gallery.js')
    
    .slider
      .slide.active-slide
        .container
          .row
            .col.xs.12
              a(href='#')<img id="cat" src='/images/cats/cat1.jpg'/>
      - for(var i = 2; i <= 23; i++ )
        - var link = '/images/cats/cat' + i + '.jpg'
        .slide
          .container
            .row
              .col.xs.12
                a(href='#')<img id="cat" src='#{link}' />

    .slider-nav
      p Click on image to enlarge it
      a.arrow-prev(href='#')<img src='/images/arrowleft.png'/>
      ul.slider-dots
        li.dot.active-dot
          &bull;
        - for(var i = 2; i <= 23; i++ )
          li.dot
            &bull;
      a.arrow-next(href="#")<img src='/images/arrowright.png'/>

    include disclaimer.jade