.disclaimer
  .container
    p.
      This website is a work in progress. Made by Tommi Vepsä - For Tommi Vepsä - Mainly for learning purposes. Learning started in <a href='http://www.codeacademy.com'> CodeAcademy </a> and continued in web programming class.