doctype html
html(lang="en")
  include head.jade
  body
    include nav.jade
    
    .favourites
      .container
        span#HTILMO
          form(id='form1', method='POST', action='https://leikki-ilmo.appspot.com/ilmoittaudu')
            legend Harjoitustyö ilmoittautuminen (harjoitustyö 0)
            .col-md-6
              p
                label Ryhman nimi(a-z,0-9,_):*
                input(type='text', name='name', pattern='[a-z0-9_]{0,100}', onChange='javascript:this.value=this.value.toLowerCase();', required)
              p
                label Vapaamuotoiset terveiset:
                input(type='text', name='info')
              p
                label 1. Jasenen opiskelijanumero:*
                input(type='text', name='op1_num', pattern='[0-9]{6}', required)
              p
                label 1. Jasenen TTY:n intratunnus:*
                input(type='text', name='op1_user', required)
              p
                label 2. Jasenen opiskelijanumero:**
                input(type='text', name='op2_num', pattern='[0-9]{6}')
              p
                label 2. Jasenen TTY:n intratunnus:**
                input(type='text', name='op2_user')
              *Pakollinen **Ei pakollinen yhden hengen ryhmissä<br>
              input(type='submit', value='Submit', class='btn')
            .col-md-6
              #result
        script.
          $("#form1").submit(function(e) {
            e.preventDefault();
            e.returnValue = false;

            var $form = $( this );
            
            $.ajax({
              type: $form.attr('method'),
              url: $form.attr('action'),
              data: $form.serialize(),
              dataType: "json",
              success: function(data, textStatus){
                $('#result').empty();
                var div_data = "<div><p>Ilmoittautuminen onnistui.</p>";
                div_data += "<p>Ryhmä: "+data.name+"</p>";
                div_data += "<p>"+data.info+"</p><br>";
                div_data += "<p>Jäsenet: </p>";
                div_data += "<p>"+data.members[0].num+"  "+data.members[0].user+"</p>";
                if(Object.keys(data.members).length === 2){
                  div_data += "<p>"+data.members[1].num+"  "+data.members[1].user+"</p>";
                }
                div_data += "<p>"+data.huom+"</p></div>";
                $(div_data).appendTo("#result");
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) { 
                $('#result').empty();
                var div_data;
                if(XMLHttpRequest.status === 400){
                  div_data = "<div><p>Pyynnössä oli jotain vikaa. Viestin rungossa kerrotaan paremmin.</p>";
                  div_data += "<p>"+XMLHttpRequest.statusText+"</p></div>";
                } else if(XMLHttpRequest.status === 409){
                  div_data = "<div><p>Annetun niminen ryhmä on jo olemassa. Yritä uudelleen.</p></div>";
                } else if(XMLHttpRequest.status === 500){
                  div_data = "<div><p>Jotain odottamatonta tapahtui palvelimella.</p></div>";
                }
                $(div_data).appendTo("#result");
              }       
            });
          });
  
        form(id='form2', method='GET', action='https://leikki-ilmo.appspot.com/tarkista')
          legend Tarkista ilmoittautuminen tasta
          .col-md-12
            p
              label Opiskelijanumero:
              input(type='text', name='num', pattern='[0-9]{6}', required)
            input(type='submit', value='Submit', class='btn')
        script.
          $("#form2").submit(function(e) {
            e.preventDefault();
            e.returnValue = false;

            var $form = $( this );
              
            $.ajax({
              type: $form.attr('method'),
              url: $form.attr('action'),
              data: $form.serialize(),
              dataType: "json",
              success: function(data, textStatus){
                $('#result').empty();
                var div_data = "<div>";
                div_data += "<p>Ryhmä: "+data.name+"</p>";
                div_data += "<p>"+data.info+"</p><br>";
                div_data += "<p>Jäsenet: </p>";
                div_data += "<p>"+data.members[0].num+"  "+data.members[0].user+"</p>";
                if(Object.keys(data.members).length === 2){
                  div_data += "<p>"+data.members[1].num+"  "+data.members[1].user+"</p>";
                }
                div_data += "<p>"+data.huom+"</p></div>";
                $(div_data).appendTo("#result");
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) { 
                $('#result').empty();
                var div_data;
                if(XMLHttpRequest.status === 400){
                  div_data = "<div><p>Pyynnössä oli jotain vikaa.</p>";
                  div_data += "<p>"+XMLHttpRequest.statusText+"</p></div>";
                } else if(XMLHttpRequest.status === 404){
                  var x = document.getElementById("form2");
                  div_data = "<div><p>Opiskelijanumerolla "+x.elements[0].value+" ei löydy ilmoittautumista.</p></div>";
                } else if(XMLHttpRequest.status === 500){
                  div_data = "<div><p>Jotain odottamatonta tapahtui palvelimella.</p></div>";
                }
                $(div_data).appendTo("#result");
              }       
            });
          });
        



 
    include disclaimer.jade