doctype html
html(lang="en")
  include head.jade
  body
    include nav.jade
    
    .favourites
      .container
        .row
          .col-md-4
            h3 Changes on this website.
            ul#log
              li.dot
                p 19.2.2015 Switched from traditional website template thingy to Node.js, Jade and Express.js. I'm really starting to like this Jade stuff to create the pages!
              li.dot
                p Added marjametsa page for showing the latest BIG work I have done.
              li.dot
                p Added many new pages, including cattax.html which has some nice functionality.
              li.dot
                p Someday around Christmas I got the idea to write my own website.

    include disclaimer.jade