doctype html
html(lang="en")
  head
    title Tamplr - login
    link(href='http://fonts.googleapis.com/css?family=Bree+Serif', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    h1.tamplr-logo tamplr
    p Login page