script(src='/javascripts/jquery-2.1.3.min.js')
script(src='/javascripts/app.js')

.nav#oneNav
  .container
    ul.pull-left
      li
        a(href='/') Front Page
      li
        a(href='#') Dazedi
      li
        a(href='/cattax') Cat Tax
    ul.pull-right
      li
        a(href='http://steamcommunity.com/id/Dazedi/') My Steam
      li.dropdown
        a.dropdown-toggle(href='#') Projects
        ul.dropdown-menu
          li
            a(href='/webohjelmointi') Web Ohjelmointi
          li
            a(href='/marjametsa') Marjametsa The Game
          li
            a(href='/projects') Other projects
      li
        a(href='/contact') Contact