doctype html
html(lang="en")
  include head.jade
  body
    include nav.jade
    
    .favourites
      .container
        h2 Some exercises on web programming
        .row.text-justified
          .col-md-4
            div
              h3 Status Update
              p CodeAcademy's very own course Interactive Website: Status Update. Got to learn and make a status update tool similar to ones on Facebook and Twitter. Pretty neat.<br><br>All in all, I think this was a nice practice. Unfortunately I don't have any kind of database here yet so I probably can't save the updates anywhere... Database would be nice help to keep track of all links and stuff in navigation bar etc. as well I suppose.
              a(href='/statusUpdate') Click here to see my work.
          .col-md-4
            div
              h3 Effects
              p I think the next part will be about website effects with javascript and jquery and I've implemented most of it on this website. For instance in the Cat Tax gallery.
          .col-md-4
            .div
              h3 This website
              p This website has been one small project to learn about web programming including HTML5, CSS, JavaScript, JQuery. During the web programming course I am taking I've started to implement and practice Node.js, Express.js and Jade here as well. I'm thinking I will practice PostgreSQL since it's also a part of that Tamplr exercise work.

 
    include disclaimer.jade