doctype html
html(lang="en")
  include head.jade
  body
    include nav.jade
    
    .favourites
      .container
        h2 Some exercises on web programming
        .row
          .col-md-4
            .thumbnail
              a(href='/ht0')
                img.double(src='/images/HT0.png')
            .thumbnail
              h3 HT0: Signing up
              p In this exercise I had to create a HTML sign-up form, nothing too fancy. However there was also two bonus exercises along with that one: 1. cover the page with fancy or not so fancy CSS, 2. use AJAX to handle all the communication between the server and the website, so I did those as well.<br><br>All in all, I think this was a nice exercise to practice my javascript, jquery etc skills. Praise Gaben.
              a(href='/ht0') Click here or the picture to see my work.
          .col-md-4
            .thumbnail
              a(href='#')
                img.double(src='/images/tamplr.png')
            .thumbnail
              h3 HT1: Blog service Tamplr pt.1
              p In this exercise I need to create the interface for this Tamplr. web blogging service. The service has mainly four kinds of "creatures": Users, Blogs, Blog writings and Comments. And all of these will have some kind of relations with each other and so on. So basically this part of the exercise includes writing the server side HTTP-interface (Tamplr API). Using git, node.js and apparently Heroku Toolbelt for releasing it to Heroku.
          .col-md-4
            .thumbnail
              .a(href='#')
                img.double(src='/images/tamplr.png')
            .thumbnail
              h3 HT2: Blog service Tamplr pt.2
              p Continuation for the pt.1, but in this part of the exercise I will have to continue the previous part by creating the browser interfaces and the rest of the functionality. I'm hoping for these two to go well.

 
    include disclaimer.jade