/*
.nav {
    padding-top: 4px;
    padding-bottom: 4px;
	border-bottom: 1px solid #dbdbdb;
}

.nav a {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.nav li {
	display: inline;
}

.nav ul {
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}*/



.favourites h2, .register h2 {
    margin-top: 37px;
	color: #393c3d;
    font-size: 1.5em;
}

.favourites, .register {
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px; 
}

.favourites h3, .register h3 {
  padding-bottom: 2px;
  border-bottom: 1px solid #dbdbdb;
}

.favourites footer {
  border-top: 1px solid #dbdbdb;
  padding-top: 2px;
}


.favourites .thumbnail {
    margin: none;
    padding: none;
    border: none;
    background-color: transparent;
    
}
.favourites .thumbnail h4 {
    font-family: Shift, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8125em;
    color: #fff;
    text-shadow: 0 1px 8px rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
}

.favourites p {
    font-size: 0.9375em;
    margin-bottom: 13px;
}

.thumbnail p {
	text-align: justify;
}

.thumbnail h3 {
	text-align: center;
	font-weight: 500;
	margin-top: 0;
	padding-bottom: 2px;
	border-bottom: 1px solid #dbdbdb;
}

.thumbnail .double {
    height: 200px;
    width: 350px;
}

.thumbnail .single {
    padding-top: 50px;
    width: 350px;
    position: center center;
}

.learn-more {
	background-color: #f7f7f7;
}

.learn-more h3 {
	font-family: 'Shift', sans-serif;
	font-size: 1.125em;
	font-weight: bold;
}

.learn-more a {
	color: #00b0ff;
}

.disclaimer {
	font-size: 0.5625em;
	text-align: center;
}

.dropdown-toggle {
	color: #5a5a5a;
	cursor: pointer;
	font-size: 0.6875em;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
	
}

.dropdown-menu {
	background-color: #efefef;
	width: auto;
}

.dropdown-menu a {
	color: #5a5a5a;
	font-size: 0.6875em;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
}

.projects {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.projects .container h2 {
	padding-bottom: 4px;
	border-bottom: 1px solid #dbdbdb;
}

.projects form {
	padding-top: 55px;
	width: 100%;
	float: right;
}

.button-group {
	margin-bottom: 20px;
}

.counter {
	display: inline;
	margin-right: 10px;
}

/*
.posts {
	list-style: none;
	clear: both;
	width: 100%;
	padding-left: 0px;
}

.posts h3 {
	padding-bottom: 2px;
	border-bottom: 1px solid #dbdbdb;
}

.posts .author {
	border-right: 1px solid #dbdbdb;
}

.posts .post {
	border-right: 1px solid #dbdbdb;
}

.posts li {
	background-color: white;
	border: 1px solid #dbdbdb;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
	word-wrap: break-word;
	min-height: 42px;
}
*/
.slider {
	background-color: #efefef;
	width: 100%;
	height: 470px;
	position: relative;
	border-bottom: 1px solid #ddd;
}

.slide {
	margin-top: 20px;
	margin-bottom: 20px;
	display: none;
	width: 100%;
	height: 90%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.slide img {
	width: 100%;
	height: 100%;
	margin-top: -200px;
}

.slider-nav {
	background-color: #e5e5e5;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

.active-slide {
	display: block;
}

.arrow-prev {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

.arrow-next {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

.slider-dots {
	display: inline-block;
	padding-left: 0;
	margin-bottom: 0;
}

.slider-dots li {
	display: inline;
	font-size: 1.875em;
	color: #aaa;
}

.slider-dots li.active-dot {
	color: #333;
}

.project-images {
	margin: none;
    padding: none;
    border: none;
    background-color: transparent;
    position: relative;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
	padding-top: 5px;
}

#imgdisplay {
	width: 100%;
    position: center center;
}

.project-thumbnails {
	margin: none;
    padding: none;
    border: none;
    background-color: transparent;
    position: relative;
    max-width: 50px;
	max-height: 50px;
    margin-left: auto;
    margin-right: auto;
	display: inline;
}

.imgthumbnail {
	padding: 1px;
    width: 50px;
	height: 50px;
	position: center center;
}

#result, #text, #likes {
	font-family: Consolas, monospace;
    font-size: 0.75em;
    color: black;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#log p {
	text-align: justify;
}

body {
	background-color: #99CCFF;
}

form legend {
	padding: 5px 15px 5px 30px;
}

form 		{ display: table; border-spacing: 2px;		}
form div p 	{ display: table-row;						}
label		{ display: table-cell; white-space: nowrap;	padding-right: 20px}
input		{ display: table-cell; 						}

/*body {
	background-color: #C6E2FF;
}*/